*{
    box-sizing: border-box;
}

.task1-button{
    background-color: rgb(255, 126, 126);
    color: antiquewhite;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px ;
    padding: 10px;
}

.task2-center{
    background-color: aqua;
    display: flex;
    justify-self: center;
    padding: 10px;
}

.task3-hover{
    color: red;
    cursor: pointer;
}
.task3-hover:hover{
    color: blue;
    cursor: pointer;
}

.task4-flex{
    display: flex;
    justify-content: space-evenly;   
}
.task4-flex div {
    background-color: bisque;
    padding: 50px;
    border-radius: 30px;
}
.task5-grid{
    display: grid;
    width: 20rem;
    height: 20rem;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    justify-self: center;
}
.task5-grid>div{
    background-color: beige;
    text-align: center;
}

.task6-transition{
    background-color: brown;
    color: aliceblue;
    transition: 500ms ease-in;
    border: 5px solid rgb(233, 159, 159);
    font-size: larger;
    margin: 10px;
}
.task6-transition:hover{
    cursor: pointer;
    border: 5px solid burlywood;
    background-color: burlywood;
    color: black;
}

.task7-responsive{
    font-size: xx-large;
}

.task10-parent{
    position: relative;
    background-color: red;
    width: 100px;
    height: 100px;
}

.task10-child-1{
    position: absolute;
    background-color: blue;
width: 100px;
    height: 100px;
    top: 10px;
    z-index: 3;
    left: 10px;
}
.task10-child-2{
    position: absolute;
    background-color: rgb(48, 180, 22);
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
    z-index: 2;
}

/* for mobiles */
@media screen and (max-width:600px) {
    
    .task7-responsive{
        font-size:medium;
    }
    
}

/* for tablats */

@media screen and (min-width:600px)and (max-width:1028px) {
    
.task7-responsive{
    font-size:larger;
}

}